{{ define "content" }}
<table class="table table-striped table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Task</th>
            <th>User</th>
            <th>Date</th>
            <th>Duration (hours)</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $timetracking := .timetrackings }}

        <tr>
            <td>
                <a href={{ $timetracking.TicketURL }}>
                    {{ $timetracking.Ticket }}
                </a>
            </td>
            <td>
                {{ $timetracking.User }}
            </td>
            <td>
                {{ $timetracking.Date }}
            </td>
            <td>
                <a href={{ $timetracking.WorklogURL }}>
                    {{ $timetracking.Duration }}
                </a>
            </td>
        </tr>

        {{ end }}
    </tbody>
</table>
{{ end }}
